<app-nav></app-nav>
<app-explore-head></app-explore-head>
<section id="explore-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img [src]="source"  class="img-fluid mb-3 rounded-circle">
        </div>
        <div class="col-md-6">
          <h3>Explore & Connect</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore reiciendis, voluptate at alias laborum odit aliquid
            tempore perspiciatis repudiandae hic?</p>
          <div class="d-flex" *ngFor = "let model of explore">
            <div class="p-4 align-self-start">
                <fa-icon [icon]=" model.icon " class="fas fa-2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              {{ model.address }}
            </div>
          </div>

         
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>